<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="nav navbar-nav">
        <h5 class="navbar-brand">
            libramay
        </h5>
        <a class="nav-item nav-link" id="home-link" href="/">Home</a>
        <a class="nav-item nav-link" id="authors-link" href="/authors">Authors</a>
    </div>
</nav>