<div class="form-group">
  <label for="">Name</label>
  <input type="text"
    class="form-control" name="name" id="name" aria-describedby="helpId" placeholder=""
    value="<%= author.name %>" >
  <small id="helpId" class="form-text text-muted">Help text</small>
</div>